.radioBtn{
  padding: 25px 20px;
}
.radioBtn input[type=radio]{
  display:none;
}
.radioBtn input[type=radio]+label{
  display: inline-block;
  cursor: pointer;
  height: 24px;
  width: 90px;
  border: 1px solid #333333;
  line-height: 24px;
  text-align: center;
  font-weight:bold;
  font-size:13px;
}
.radioBtn input[type=radio]+label{
  background-color: #fff;
  color: #333333;
}
.radioBtn input[type=radio]:checked+label{
  background-color: #3cd65d;
  color: #fff;
}
#start{
  margin-top: 20px;
  padding: 15px 30px;
  /* position: relative;
  left:10px; */
  text-align: center;
  font-weight:bolder;
  font-size:20px;
  background-color: #ff3434;
  border: 2px solid #6f6f6f;
  cursor: pointer;
  color: #403f3f;
  border-radius: 50px;
  box-shadow: 2px 2px 2px gray;
}

#input{
  padding: 5px;
  width: 100px;
  margin-top: 10px;
  /* position: relative;
  left:10px; */
}
#submit{
  padding: 5px;
  /* position: relative;
  left:10px; */
  text-align: center;
  font-weight:bold;
  font-size:13px;
  background-color: #fbfb66;
  border: 1px solid #6f6f6f;
  cursor: pointer;
}
.joinAll{
  display: grid;
  place-items: center;
}
#start:active{
  border-style: dashed;
}
#inputSet{
  display: none;
}
/* #result{
  display: flex;
  justify-content:center;
  align-items:center;
  position: relative;
  left: 25%;
  width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  place-items: center;
  margin-top: 30px;
  padding: 20px;
  border-spacing: 0px 0px;
  border-collapse: collapse;
  border: 1px solid #6f6f6f;
  display: none;
} */
table{
  margin-left:auto;
  margin-right:auto;
  margin-top: 20px;
  display: none;
}

table, td, th {
  width: 350px;
  margin-left:auto;
  margin-right:auto;
  border-collapse : collapse;
  border : 1px solid black;
  text-align: center;
};

th, td {
  text-align: center;
}

#startText{
  margin-top: 50px;
  font-weight:bold;
  font-size:70px;
  /* color: #43b641; */
  background-image: linear-gradient(to right, rgb(62, 214, 77), rgb(83, 192, 235));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: none;
  
}
#inform{
  margin-top: 50px;
}
#restart{margin-top: 30px;
  margin-top: 20px;
  padding: 10px 15px;
  display: grid;
  text-align: center;
  font-weight:bolder;
  font-size:15px;
  background-color: #55c739;
  border: 2px solid #6f6f6f;
  cursor: pointer;
  color: #403f3f;
  border-radius: 10px;
  box-shadow: 2px 2px 2px gray;
  display: none;
}