.radioBtn{
  padding: 15px 10px;
}
.radioBtn input[type=radio]{
  display:none;
}
.radioBtn input[type=radio]+label{
  display: inline-block;
  cursor: pointer;
  height: 24px;
  width: 90px;
  border: 1px solid #333;
  line-height: 24px;
  text-align: center;
  font-weight:bold;
  font-size:13px;
}
.radioBtn input[type=radio]+label{
  background-color: #fff;
  color: #333;
}
.radioBtn input[type=radio]:checked+label{
  background-color: #333;
  color: #fff;
}
#start{
  padding: 15px 10px;
  /* position: relative;
  left:10px; */
  text-align: center;
  font-weight:bolder;
  font-size:30px;
  background-color: #e6ff78;
  border: 1px solid #6f6f6f;
  cursor: pointer;
}

#input{
  padding: 5px;
  width: 100px;
  margin-top: 10px;
  /* position: relative;
  left:10px; */
}
#submit{
  padding: 5px;
  /* position: relative;
  left:10px; */
  text-align: center;
  font-weight:bold;
  font-size:13px;
  background-color: #b7ff78;
  border: 1px solid #6f6f6f;
  cursor: pointer;
}
.joinAll{
  display: grid;
  place-items: center;
}
#start:active{
  border-style: dashed;
}
#inputSet{
  display: none;
}
/* #result{
  display: flex;
  justify-content:center;
  align-items:center;
  position: relative;
  left: 25%;
  width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  place-items: center;
  margin-top: 30px;
  padding: 20px;
  border-spacing: 0px 0px;
  border-collapse: collapse;
  border: 1px solid #6f6f6f;
  display: none;
} */
table{
  display: inline-flex;
  justify-content: center;
  margin-left:auto;
  margin-right:auto;
  margin-top: 30px;
  display: none;
}

table, td, th {
  width: 300px;
  margin-left:auto;
  margin-right:auto;
  border-collapse : collapse;
  border : 1px solid black;
  text-align: center;
};
th{
background-color: #bedebe;
}
th, td {
  text-align: center;
}

#startText{
  font-weight:bold;
  font-size:70px;
  color: #43b641;
  display: none;
}
#inform{
  margin-top: 50px;
}